services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/certs:/app/certs:ro

  frontend:
    build: ./Frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    command: npm run dev -- --host
    volumes:
      - ./Frontend:/app
      - /app/node_modules
